parameters:
  level: 9
  paths:
    - src
  reportUnmatchedIgnoredErrors: true
  excludePaths:
  ignoreErrors:
    - '#Access to an undefined property Illuminate\\Support\\Fluent(<string, mixed>)?::\$column\.#'
    - '#Access to an undefined property Illuminate\\Support\\Fluent(<string, mixed>)?::\$to\.#'
    - '#Access to an undefined property Illuminate\\Support\\Fluent(<string, mixed>)?::\$shouldBeSkipped\.#'
    - '#Access to an undefined property Illuminate\\Support\\Fluent(<string, mixed>)?::\$algorithm\.#'
    - '#Access to an undefined property Illuminate\\Support\\Fluent(<string, mixed>)?::\$index\.#'
    - '#Access to an undefined property Illuminate\\Support\\Fluent(<string, mixed>)?::\$columns\.#'
    - '#Access to an undefined property Illuminate\\Support\\Fluent(<string, mixed>)?::\$granularity\.#'
    - '#Access to an undefined property Illuminate\\Support\\Fluent(<string, mixed>)?::\$autoIncrement\.#'
    - '#Access to an undefined property Illuminate\\Support\\Fluent(<string, mixed>)?::\$first\.#'
    - '#Access to an undefined property Illuminate\\Support\\Fluent(<string, mixed>)?::\$after\.#'
    - '#Access to an undefined property Illuminate\\Support\\Fluent(<string, mixed>)?::\$virtualAsJson\.#'
    - '#Access to an undefined property Illuminate\\Support\\Fluent(<string, mixed>)?::\$virtualAs\.#'
    - '#Access to an undefined property Illuminate\\Support\\Fluent(<string, mixed>)?::\$storedAsJson\.#'
    - '#Access to an undefined property Illuminate\\Support\\Fluent(<string, mixed>)?::\$storedAs\.#'
    - '#Access to an undefined property Illuminate\\Support\\Fluent(<string, mixed>)?::\$invisible\.#'
    - '#Access to an undefined property Illuminate\\Support\\Fluent(<string, mixed>)?::\$default\.#'
    - '#Access to an undefined property Illuminate\\Support\\Fluent(<string, mixed>)?::\$comment\.#'
    - '#Access to an undefined property Illuminate\\Support\\Fluent(<string, mixed>)?::\$unsigned\.#'
    - '#Access to an undefined property Illuminate\\Support\\Fluent(<string, mixed>)?::\$nullable\.#'
    - '#Access to an undefined property Illuminate\\Support\\Fluent(<string, mixed>)?::\$places\.#'
    - '#Access to an undefined property Illuminate\\Support\\Fluent(<string, mixed>)?::\$total\.#'
    - '#Access to an undefined property Illuminate\\Support\\Fluent(<string, mixed>)?::\$allowed\.#'
    - '#Access to an undefined property Illuminate\\Support\\Fluent(<string, mixed>)?::\$precision\.#'
    - '#Access to an undefined property Illuminate\\Support\\Fluent(<string, mixed>)?::\$useCurrent\.#'
    - '#Access to an undefined property Illuminate\\Support\\Fluent(<string, mixed>)?::\$useCurrentOnUpdate\.#'
    - '#Access to an undefined property Illuminate\\Support\\Fluent(<string, mixed>)?::\$length\.#'
    - '#Access to an undefined property Illuminate\\Support\\Fluent(<string, mixed>)?::\$fixed\.#'
    - '#Access to an undefined property Illuminate\\Support\\Fluent(<string, mixed>)?::\$subtype\.#'
    - '#Access to an undefined property Illuminate\\Support\\Fluent(<string, mixed>)?::\$srid\.#'
    - '#Access to an undefined property Illuminate\\Support\\Fluent(<string, mixed>)?::\$innerType\.#'
    - '#Access to an undefined property Illuminate\\Support\\Fluent(<string, mixed>)?::\$expression\.#'
    - '#Access to an undefined property Illuminate\\Support\\Fluent(<string, mixed>)?::\$lowCardinality\.#'
    - '#Call to an undefined method Illuminate\\Support\\Fluent<string, mixed>::default\(\)\.#'
    - '#Access to an undefined property Illuminate\\Database\\Schema\\ColumnDefinition::\$name\.#'
